body {
    margin: 0;
    padding: 0;
    display: flex;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    background: url("background.jpg");
}

.btn {
    text-align: center;
    padding: 20px 0;
    border: 1px solid rgb(37, 37, 37);
    box-sizing: border-box;
    font-size: 20px;
}

.btn:active {
    background-color: white;
    color: #1a1a1a;
    font-weight: 800;
}

#calculator {
    background-color: #1a1a1a;
    color: white;
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 500px;
}

#calculator > div {
    flex: 1;
}

/* Screen */

#screen {
    padding: 5px 10px;
    border: 1px solid #1a1a1a;
    text-align: right;
}

#screen #current {
    font-size: 35px;
    font-weight: 800;
}

/* Control */
#control {
    display: flex;
    flex-wrap: wrap;
}

#control .btn {
    flex: 1;   
}

#control #allclear {
    flex-basis: calc(100% / (3/2));
}

#control #clear {
    flex-basis: calc(100% / 3);
}

/* Number board */

#number-board {
    display: flex;
    flex-wrap: wrap;
}

#number-board > div {
    flex: 1;
}

#number-board #numbers {
    display: flex;
    flex-wrap: wrap;
    flex-basis: calc(100% / (3/2));
    flex-direction: row-reverse;
}

#number-board #numbers #num-btn {
    flex: 1;
    flex-basis: calc(100% / 3);
}

#number-board #operators {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex-basis: calc(100%/3);
}

#number-board #operators #opr-btn {
    flex: 1;
}


/* Exploding effect*/
.explode {
    display: none;
}